@use './helpers' as *;
main {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 10rem;
	height: auto;
}
.container_main {
	display: flex;
	max-width: 192rem;
	padding: 0 15rem;
	position: relative;
}

.container_main::before {
	position: absolute;
	content: url(../imgs/briliant.png);
	width: 5.9rem;
	height: 5.9rem;
	top: -4rem;
	left: 76.5rem;
	background-image: url(../imgs/briliant_bg.png);
	background-position: center;
	background-repeat: no-repeat;
	padding: 1rem 1.5rem;
}
.container_main::after {
	position: absolute;
	content: url(../imgs/Xd.png);
	width: 8.1rem;
	height: 8.1rem;
	top: 1.8rem;
	left: 85rem;
	background-image: url(../imgs/xd_bg.svg);
	background-position: center;
	background-repeat: no-repeat;
	padding: 1.5rem 2.1rem;
}

.headline h1 {
	font-size: 6rem;
	font-weight: 700;
	text-wrap: wrap;
	width: 71.6rem;
	height: auto;
	color: $dark-blue;
}
.headline h1 {
	& strong {
		color: $blue-accent;
		border: 8px solid $blue-accent;
		padding: 1rem;
		position: relative;
	}
}
.headline h1 strong {
	& span {
		display: block;
		position: absolute;
		width: 2.8rem;
		height: 2.8rem;
		border-radius: 50%;
		border: 8px solid $blue-accent;
		background-color: $white-color;

		&:nth-child(1) {
			top: -1.5rem;
			left: -1.5rem;
		}
		&:nth-child(2) {
			bottom: -1.5rem;
			left: -1.5rem;
		}
		&:nth-child(3) {
			bottom: -1.5rem;
			right: -1.5rem;
		}
		&:nth-child(4) {
			top: -1.5rem;
			right: -1.5rem;
		}
	}
}

.headline p {
	font-size: 2rem;
	font-weight: 400;
	width: 51.7rem;
	height: 10.8rem;
	text-wrap: wrap;
	color: $blue;
	margin-top: 1.5rem;
	margin-bottom: 2.5rem;
}
@media (max-width: $point_3) {
	.headline {
		& h1 {
			font-size: 4rem;
			width: 37rem;
		}
		& p{
			max-width: 100%;
			margin-bottom: 12.5rem;
		}
	}
}

/* ////////////////////// */
.container_artboard {
	min-width: 53.1rem;
	min-height: 53.1rem;
	position: relative;
}
.container_artboard::before {
	position: absolute;
	content: '';
	width: 8.4rem;
	height: 8.4rem;
	background-color: $blue-accent;
	border-radius: 50%;
	top: 46rem;
	left: 27rem;
}

.container_artboard::after {
	position: absolute;
	content: url(../imgs/figma.svg);
	width: 8.4rem;
	height: 8.4rem;
	top: 0.8rem;
	left: 34.5rem;
}
@media (max-width: $point_3) {
	.container_artboard::after {
		top: -70px;
		left: 0;
	}
}

.artboard_main_img {
	width: 50rem;
	height: 58rem;
	position: absolute;
	top: -8.5rem;
	left: -2.6rem;
	& img {
		@include img-cover;
	}
}
@media (max-width: $point_3) {
	.artboard_main_img {
		max-width: 38rem;
	}
}

.artboard_circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 39rem;
	height: 39rem;
	border-radius: 50%;
	border: 0.8rem solid #706fe5;
	position: absolute;
	top: 8.5rem;
	left: 0px;
	z-index: -2;
}
@media (max-width: $point_3) {
	.artboard_circle {
		width: 36rem;
		height: 36rem;
	}
}
.employees_box {
	position: absolute;
	z-index: 10;
	top: 37.5rem;
	left: 7rem;
	width: 24rem;
	height: 13rem;
	background-color: white;
	border-radius: 5px;
	border: 2px solid #e9e8fa;
	box-shadow: 0px 6px 20px 0px #0000001a;
	display: flex;
	flex-direction: column;
	padding: 1.3rem 0;
}

@media (max-width: $point_3) {
	.employees_box {
		width: 30rem;
		padding: 1.3rem 25px;
		top: 38rem;
		left: 1.5rem;
	}
}
.employees {
	display: flex;
	max-width: 15rem;
	margin: 0 4rem;
}
.employees_item {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid #e9e8fa;

	&:not(:first-child) {
		margin-left: -2rem;
	}

	& img {
		@include img-cover;
	}
}
.employees_box_info {
	color: $dark-blue;
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.5;
	text-align: center;

	& span {
		font-size: 1.6rem;
		color: $blue;
		opacity: 80%;
		position: relative;
	}
	& span::after {
		position: absolute;
		content: url(../imgs/details/Star.png);
		width: 2.6rem;
		height: 2.6rem;
		top: -1px;
		left: -3rem;
	}
}
.btn_block {
	display: flex;
	gap: 10rem;
}
@media (max-width: $point_3) {
	.btn_block {
		gap: 6rem;
	}
}
.btn_contact {
	display: block;
	background-color: $blue-accent;
	color: $white-color;
	width: 18rem;
	height: 4.7rem;
	padding: 0.6rem;
	text-align: center;
	text-decoration: none;
	border-radius: 1.2rem;
	font-size: 1.8rem;
	font-weight: 600;
}
.btn_video {
	display: block;
	text-align: left;
	text-decoration: none;
	text-wrap: wrap;
	font-size: 1.6rem;
	width: 14.6rem;
	height: 4.8rem;
	color: $blue;
	line-height: 1.7;
	position: relative;
}
.btn_video::before {
	content: url(../imgs/video.svg);
	position: absolute;
	left: -6rem;
	width: 4.8rem;
	height: 4.8rem;
}

@media (max-width: $point_2) {
	.container_main {
		display: flex;
		flex-direction: column;
		gap: 5rem;
	}
	.container_main::after {
		top: 8.8rem;
		left: 76rem;
	}
}

@media (max-width: $point_3) {
	.container_main {
		padding: 0 2rem;
		flex-direction: column-reverse;
		&::after {
			display: none;
		}
		&::before {
			display: none;
		}
	}
}
