@use './helpers' as *;

html {
	font-size: 10px;
	font-family: $font-family, sans-serif;
}
.wrapper {
	max-width: 192rem;
	width: 100vw;
	height: auto;
	line-height: 1.9;
	margin: 0 auto;
	overflow: hidden;
}
.container {
	max-width: 192rem;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.container_1 {
	& h3 {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		font-weight: 600;
		line-height: 1.2;
	}
	@include max-width;
	padding: 0 15rem;
}
@media (max-width: $point_3) {
	.container_1 {
		margin: auto;
	}
}

.logo_box {
	margin: 5rem auto;
	max-width: 11rem;
	width: 100%;
	height: 13rem;
}

.logo_item {
	/*  box */
	min-width: 12rem;
	min-height: 3.6rem;
}
.logo_item img {
	/* image */
	@include img-contain;
}

/* //////////////////////////container_2 */
.container_2 {
	display: flex;
	flex-direction: column;
	max-width: 192rem;
	height: auto;
	padding: 0 15rem;
	position: relative;
	& h1 {
		font-size: 4rem;
		font-weight: 800;
		line-height: 1.5;
		text-align: center;
		color: #03014c;
	}
}

.container_2::before {
	position: absolute;
	content: url(../imgs/details/qwot.svg);
	width: 5.5rem;
	height: 12.2rem;
	top: 10rem;
	left: 30rem;
}
.container_2::after {
	position: absolute;
	content: url(../imgs/details/qwot.svg);
	width: 5.5rem;
	height: 12.2rem;
	top: 1rem;
	left: 101rem;
	rotate: 180deg;
}

@media (max-width: $point_3) {
	.container_2 {
		padding: 0;
		margin-top: 75rem;

		&::after {
			display: none;
		}
		&::before {
			display: none;
		}
		h1 {
			text-align: center;
			padding-left: 2rem;
		}
	}
}

.section {
	position: relative;
}

@media (max-width: $point_3) {
	.section {
		margin: auto;
	}
}

.section::before {
	position: absolute;
	content: url(../imgs/details/decor.svg);
	width: 10rem;
	height: 7.1rem;
	top: -3rem;
	left: 5rem;
}
.section::after {
	position: absolute;
	content: url(../imgs/details/decor.svg);
	width: 5.5rem;
	height: 12.2rem;
	top: 5rem;
	left: 10rem;
	transform: translate(107rem, 20rem);
}

.content_swiper {
	margin: 2rem auto;
	max-width: 67rem;
	width: 100%;
	overflow: hidden;
	height: 17rem;
}
@media (max-width: $point_3) {
	.content_swiper{
		max-width: 35rem;
	}
}

.content_text {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.5;
	text-align: center;
	opacity: 0.5;
}
@media (max-width: $point_3) {
	.content_text {
		max-width: 39rem;
		text-align: left;
		padding-left: 2rem;
	}
}

.content_image {
	margin: 2rem auto;
	width: 100%;
	height: 21rem;
}
@media (max-width: $point_3) {
	.content_image {
		margin: 0;
		padding-left: 2rem;
	}
}
@media (max-width: $point_3) {
	.content_image {
		max-width: 33rem;
	}
}

.content_image_item {
	display: flex;
	justify-content: center;
	gap: 1rem;
	border-radius: 50%;
	max-width: 9rem;
	width: 100%;
	max-height: 9rem;
	opacity: 0.5;
	overflow: hidden;
}
.content_image_item {
	& img {
		@include img-cover;
	}
}
.content_image_item_data {
	margin: 3rem -2rem;
	display: flex;
	align-items: center;
	visibility: hidden;
	font-size: 2.4rem;
	font-weight: 700;
	line-height: 1.5;
	text-align: center;
	color: #03014c;
	& span {
		font-size: 2rem;
		font-weight: 500;
		opacity: 0.5;
	}
}
.swiper-slide.swiper-slide-thumb-active {
	& .content_image_item {
		border: 0.5rem solid #eaeef3;
		box-shadow: 0 0 0 0.5rem $blue-accent;
		scale: 1.2;
		opacity: 1;
	}
	& .content_image_item_data {
		visibility: visible;
	}
}

/* //////////////////////////////// */

.container_3 {
	max-width: 192rem;
	width: 100%;
	height: auto;
	padding: 0 15rem;
	display: flex;
}
@media (max-width: $point_3) {
	.container_3 {
		padding: 0;
	}
}

.help_content {
	display: flex;
	gap: 9rem;
	max-width: 114rem;
	width: 100%;
	height: auto;
}
.help_box__title {
	display: flex;
	flex-direction: column;
	max-width: 52rem;
	width: 100%;
	height: 38rem;
	padding: 1rem;
	gap: 5rem;

	& h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1.3;
		color: $dark-blue;
	}
	& p {
		font-size: 2rem;
		font-weight: 400;
		line-height: 1.8;
		color: #1b1d21;
	}
}
@media (max-width: $point_3) {
	.help_box__title{
		& h1{
			text-align: center;
		}
	}
}



.help_box {
	display: flex;
	flex-direction: column;
	max-width: 26.5rem;
	width: 100%;
	height: auto;
	padding: 5rem 0;
	gap: 2rem;
	position: relative;

	& h4 {
		font-size: 2rem;
		font-weight: 600;
		line-height: 1.4;
		color: $dark-blue;
		margin-top: 3.5rem;
	}
	& p {
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 1.8;
		color: $blue;
		text-wrap: nowrap;
	}
}

@media (max-width: $point_3) {
	.help_box {
		flex-direction: column;
		padding: 2rem 50px;
	}
}

.help_box::before {
	position: absolute;
	content: url(../imgs/details/ui-ux.svg);
	width: 2.4rem;
	height: 2.4rem;
	top: 4rem;
	left: 1rem;
}
.help_box::after {
	position: absolute;
	content: url(../imgs/ui-ux.svg);
	width: 2.4rem;
	height: 2.4rem;
	top: 21rem;
	left: 1rem;
}

.input_btn {
	gap: 5rem;
	width: 49rem;
	height: 62px;
	border-radius: 8px;
	background-color: #e4e1e1;
	text-align: center;
	display: flex;
	position: relative;
}
@media (max-width: $point_3) {
	.input_btn {
		gap: 0;
		max-width: 100%;
	}
}
.input_btn::before {
	position: absolute;
	content: url(../imgs/details/email.svg);
	width: 2.4rem;
	height: 2.4rem;
	top: 1.6rem;
	left: 2rem;
}

.input_btn {
	& input {
		border-radius: 10px;
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 1.7;
		width: 240px;
		text-align: right;
		background-color: #e4e1e1;
		border: none;
	}
}
@media (max-width: $point_3) {
	.input_btn {
		& input{
			font-size: 1.4rem;
		}
	}
}


.input_btn {
	& a {
		text-decoration: none;
		width: 18rem;
		height: 4.7rem;
		border-radius: 1.2rem;
		padding: 1rem 4rem;
		margin: 6px;
		font-size: 1.8rem;
		font-weight: 600;
		line-height: 1.62;
		background-color: $blue-accent;
		color: white;
	}
}
@media (max-width: $point_3) {
	.input_btn {
		& a {
			width: 13rem;
		}
	}
}

/* /////////////////////////responsive */

@media (max-width: $point_2) {
	.container_2::before {
		top: 1rem;
		left: 20rem;
	}

	.container_2::after {
		top: -7rem;
		left: 75rem;
	}

	.help_content {
		flex-direction: column;
		gap: 0;
	}
	.help_box {
		flex-direction: row;
		position: static;
		padding: 2rem 0;

		h4 {
			margin-top: 0;
		}
	}
	@media (max-width: $point_3) {
		.help_box {
			flex-direction: column;
			padding-left: 2rem;
			margin-top: 3rem;
		}
	}

	.help_box::before {
		display: none;
	}
	.help_box::after {
		display: none;
	}

	.section::before {
		display: none;
	}
	.section::after {
		display: none;
	}
}
